.histoire{
    margin-top : 100px;
    width : 100%;
}


.image_histoire{
    max-height: 200px;
    width : auto;
}

p{
    width : 500px;
}

.histoire-flex{
    display : flex;
    flex-direction: row;
    flex-wrap: wrap;
}