.image_carrousel{
    width : 100%;
    height : 550px;
    object-fit : cover;
}

.section_carrousel{
    display : flex;
    justify-content: center;
    width : 100%;
    background-color: #2f4460;
}
.carrousel{
    width : 100vw;
    justify-self : center;
    max-width :2000px;
    height : 550px;
    position : relative;
}

.carrousel > ul{
    margin : 0;
    padding : 0;
    list-style : none;
}


.slide{
    position : absolute;
    display: grid;
    inset : 0;
    opacity : 0;
    transition : .5s opacity ease-in-out;
    transition-delay: .5s;
}

.slide .carrousel-text{
    align-self: center;
    position : absolute;
    color : white;
    z-index : 5;
    font-size : 2vw;
    max-font-size: 57px;
    width : 30%;
    max-width : 800px;
    margin :0 7vw;
    padding : 40px;
    background-color: rgba(0,0,0,0.7);
    border-radius : 20px;
    transition: all 0.5s;
}

.carrousel .active{
    opacity :1;
    z-index : 1;
    transition-delay: 0ms;
}



.bouton_carrousel{
    color : rgb(255,255,255,0.7);
    position : absolute;
    z-index : 2;
    border : none;
    font-size : 3rem;
    top:40%;
    cursor : pointer;
    background-color: rgba(0,0,0,0.1);
    border-radius : 8px;
    padding-bottom: 8px;
    width : 70px;
}

.bouton_carrousel:hover{
    color : white;
    background-color: rgba(0,0,0,0.2);
}

.bouton_carrousel.prev{
    left : 1rem;
}

.bouton_carrousel.next {
    right : 1.5rem;
}

.bas_carrousel{
    display : flex;
    height : 40px;
    justify-content: center;
}

.bas_carrousel_point{
    display : flex;
    align-items: center;
}

.bas_carrousel_point > :not(.active){
    margin : 0 5px;
    list-style: none;
    width: 12px;
    height: 12px;
    background: #bfcfe5;
    border-radius: 50%
}

.bas_carrousel_point > :not(.active):hover{
    cursor : pointer;
    background: #9eb8d9;
}

.bas_carrousel_point > .active{
    margin : 0 5px;
    list-style: none;
    width: 40px;
    height: 12px;
    background: #5e88bf;
    border-radius: 10px;
}

.bas_carrousel_point > .active:hover{
    cursor : pointer;
    background: #4b6d99;
}

@media only screen and (max-width: 1586px) {
    .section_carrousel{
        height:510px;
    }

    .slide{
        height:510px;
    }

    .carrousel{
        height:510px;
    }

    .bas_carrousel{
        height : 35px;
    }

    .image_carrousel{
        height : 510px;
    }

}

.presentation{
    padding : 25px;
    text-align: center;
    font-size : 1.7rem;
}

@media only screen and (max-width: 900px) {

    .slide .carrousel-text{
        width : 70%;
        font-size : 1.7rem;
    }
}

@media screen and (min-width: 1700px) {
    .slide .carrousel-text {
        font-size : 35px;
    }


}