header{
    display: flex;
    justify-content: center;
    height: 70px;
    width: 100%;
    font-size : 16px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    background-color: white;
}
.navbarDiv{
    display: flex;
    justify-content: space-between;
    height: inherit;
    width: inherit;
    max-width: 1400px;
    padding: 0 20px;
}

nav {
    height: inherit;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    height: inherit;
}

nav ul li {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 175px;
}

nav a{
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    transition: .3s ease-in;
}

nav li:hover{
    background-color: RGBa(200,200,200,0.3);
    color: #4b6d99;
    border-bottom: 2px solid #5e88bf;
}

.menu_deroulant {
    position: relative;
}

.menu_sous_deroulant{
    display: none;
    position: absolute;
    top: 72px;
    box-shadow: 0 2px 2px #CCC;
    background-color: white;
    width: inherit;
    height: auto;
}

nav > ul li:hover .menu_sous_deroulant{
    display: flex;
    flex-direction: column;
}

.menu_sous_deroulant li{
    text-align: center;
    width: 100%;
    vertical-align: top;
    font-size: smaller;

}
.menu_sous_deroulant a{
    height: 38px;
    border-bottom: none;
    padding-top: 15px;
}
.menu_sous_deroulant a:hover{
    border-bottom: none;
}
.menu_deroulant > a::after{
    content:" ▼";
    font-size: 10px;
}

#logo_amaris{
    height : inherit;
    width : auto;
}