header{
    display: flex;
    justify-content: center;
    height: 70px;
    width: 100%;
    font-size : 16px;
    position: fixed;
    z-index : 3;
    top: 0;
    left: 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    background-color:white;
    font-weight: 350;
    text-transform: none;
    font-size: 1.3rem;
    letter-spacing: -.08px;
    line-height: 1.5;
}
.navbarDiv{
    display: flex;
    justify-content: space-between;
    height: inherit;
    width: inherit;
    max-width: 2000px;
}
#bouton_contact_div{
    padding-right: 10px;
    display: flex;
    align-items: center;
}
.bouton > a {
    text-decoration: none;
    color: white;
}
header{
    z-index: 30;
}
nav {
    height: inherit;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    height: inherit;
}

nav ul li {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    transition: .25s ease-out;
}

nav a{
    text-decoration: none;
    transition: .3s ease-out;
    color: black;
}



nav ul li:hover{
    background-color: RGBa(200,200,200,0.3);
    border-bottom: 2px solid #5e88bf;
}

nav ul li:hover > a{
    color: #425f86;;
}

.bouton{
    background-color: #5e88bf;
    border-radius: 250px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.1rem;
    height: 44px;
    line-height: 1.15;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s,box-shadow .08s ease-in;
}

.bouton:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}



.bouton:hover{
    cursor: pointer;
    background-color: #425f86;
}

.menu_deroulant {
    position: relative;
}

.menu_sous_deroulant{
    display: none;
    position: absolute;
    top: 72px;
    box-shadow: 0 2px 2px #CCC;
    background-color: white;
    width: inherit;
    height: auto;
    font-weight: 600;
    text-transform: none;
    font-size: 1.1rem;
    letter-spacing: -.08px;
    line-height: 1.5;
}

nav > ul li:hover .menu_sous_deroulant{
    display: flex;
    flex-direction: column;
    border-bottom : none;

}

.menu_sous_deroulant li{
    text-align: center;
    width: 100%;
    vertical-align: top;
    font-size: smaller;
    transition : 0.3s ease-in;

}
.menu_sous_deroulant li:hover{
    border-bottom: none;
}
.menu_sous_deroulant a{
    height: 38px;
    border-bottom: none;
    padding-top: 15px;

}

.menu_deroulant > a::after{
    content:" ▼";
    font-size: 10px;
}

/* STYLE MENU RESPONSIVE */
.responsiveNavbar {
    display: none;
    z-index: 10;
    position: fixed;
}
#menu_responsive_div{
    display: none;
    place-content: center;
}
#menuResponsive, #xResponsive{
    cursor: pointer;
}
.to_not_display{
    display: none;
}
@media only screen and (max-width: 800px){
    
    .responsiveNavbar{
        height: calc(100vh - 69px);
        width: 100%;
        position: fixed;
        top: 69px;
        background-color: white;
        place-content: center;
    }
    
    .responsiveNavbar ul {
        list-style-type: none;
    }
    
    .responsiveNavbar ul{
        list-style-type: none;
    }
    
    .responsiveNavbar ul li {
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .25s ease-out;
        padding: 0 20px;
        border-radius: 5px;
    }
    
    .responsiveNavbar a{
        text-decoration: none;
        transition: .3s ease-out;
        color: black;
    }
    .responsiveNavbar ul li:hover{
        background-color: RGBa(200,200,200,0.3);
        border-bottom: 2px solid #5e88bf;
    }
    
    .responsiveNavbar ul li:hover > a{
        color: #425f86;;
    }
}
/* FIN DU STYLE BOUTON RESPONSIVE */

@media only screen and (max-width: 1200px){
    nav ul li {
        width : 150px;
    }
}
@media only screen and (max-width: 1000px){
    nav ul li {
        width : 130px;
    }
}
@media only screen and (max-width: 900px){
    nav, #bouton_contact_div {
        display: none;
    }
    #menu_responsive_div{
        display: grid;
        place-content: center;
        margin-right: 10px;
    }
}

@media only screen and (min-width: 900px){
    nav {
        display: block;
    }
    #menu_responsive_div{
        display: none;
    }
    .responsiveNavbar {
        display: none;
    }
}
