/*
* {
    font-family: "myriad-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
}
*/


* {
    font-family: 'Lato','Roboto', sans-serif;
    margin : 0;
    padding : 0;
}
.body{
    margin-top: 70px;
    height: auto;
}

/* STYLE DE LA SECTION DE LA PRESENTATION */
#presentation_section{
    padding : 25px;
    text-align: center;
    font-size : 1.7rem;
    height: 200px;
}
/* FIN DU STYLE DE LA SECTION DE LA PRESENTATION */

/* STYLE DE LA SECTION DES VIDEOS */
#video_section{
    height: 600px;
    width: 100%;
    max-width: 2000px;
    background-color: #ADD8E6;
}
/* FIN DU STYLE DE LA SECTION DES VIDEOS */

/* STYLE DU CARROUSEL DES PARTENAIRES */
#carrousel_partenaires{
    display: grid;
    place-content: center;
    padding: 80px 0 100px 0;
    gap: 20px;
    background-color: darkblue;
    text-align: center;
    color: white;
    overflow: hidden;
}
.carrousel_partenaires{
    height: 150px;
    max-width: 2000px;
    width: 2000px;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}

.carrousel_partenaires-enfant {
    display: block;
    width: 200%;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    position: absolute;
}
.premier{
    animation: carrousel_partenaires 40s linear infinite;
}
.deuxieme{
    animation: carrousel_partenaires 35s linear infinite;
}
.troisieme{
    animation: carrousel_partenaires 30s linear infinite;
}
.carrousel_partenaires-enfant:hover{
    animation-play-state: paused;
}

.partenaire {
    width: 230px;
    height: 130px;
    border-radius: 10px;
    display: grid;
    place-content: center;
    background-color: white;
    margin: 0 10px;
    float: left;
    transition: all .2s ease-out;
}
    
.partenaire:hover {
    transform: scale(1.05);

}

.carrousel_partenaires-enfant > div {
    float: left;
    width: 50%;
}
    
@keyframes carrousel_partenaires {
    0% { left: 0; }
    100% { left: -100%; }
}
.partenaire > img {
    width: auto;
    height: auto;
    max-width: 210px;
    max-height: 110px;
    object-fit: contain;
}
/* FIN DU STYLE DU CARROUSEL DES PARTENAIRES */

/* STYLE DU BOUTON POUR LE MODE SOMBRE */
#darkButton{
    position: fixed;
    bottom: 5px;
    right: 5px;
}
.checkbox {
    opacity: 0;
    position: absolute;
}
  
.checkbox-label {
    background-color: #111;
    width: 43px;
    height: 22px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.moon, .sun {
    height: 16px;
    width: 16px;
}
  
.checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 4px;
    top: 5px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}
  
.checkbox:checked + .checkbox-label .ball {
    transform: translateX(24px);
}
  /* FIN DU STYLE DU BOUTON POUR LE MODE SOMBRE */


