/*
* {
    font-family: "myriad-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
}
*/


* {
    font-family: 'Lato','Roboto', sans-serif;
    margin : 0;
    padding : 0;
}


.body{
    margin-top: 70px;
    height: auto;
}

.partenairesDiv{
    display: grid;
    place-content: center;
    padding: 100px 0;
    gap: 30px;
    background-color: darkblue;
}
.carrousel_partenaires{
    height: 130px;
    width: 2000px;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}

.carrousel_partenaires-enfant {
    display: block;
    width: 200%;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    position: absolute;
    animation: carrousel_partenaires 40s linear infinite;
}
.carrousel_partenaires-enfant:hover{
    animation-play-state: paused;
}

.partenaire {
    width: 230px;
    height: 130px;
    border-radius: 10px;
    display: grid;
    place-content: center;
    background-color: white;
    margin: 0 10px;
    float: left;
    transition: all .2s ease-out;
}
    
.partenaire:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.carrousel_partenaires-enfant > div {
    float: left;
    width: 50%;
}
    
@keyframes carrousel_partenaires {
    0% { left: 0; }
    100% { left: -100%; }
}
.partenaire > img {
    width: auto;
    height: auto;
    max-width: 210px;
    max-height: 110px;
    object-fit: contain;
}




