/*
* {
    font-family: "myriad-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
}
*/

* {
    font-family: 'Roboto', sans-serif;
    margin : 0;
    padding : 0;
}


.body{
    margin-top: 70px;
    height : 1000px;
}







